@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f8fffa;
  color: #1f2937;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}